
body {
    margin: 0 auto;
    background-position:center;
    background-size: contain;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;  
   
}

.menu {
    position: sticky;
    top: 0;
    background-color:black;
    padding:10px 10px 10px 10px;
    color:white;
    margin: 0 auto;
    overflow: hidden;
    
    
    z-index: 1;
}
.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.menu-log {
    right: auto;
    float: right;
}
footer {
    overflow: hidden;
    position: sticky;
    z-index: 1;
    width: 100%;
    bottom: 0px;
    background-color: #000;
    color: #fff;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
}
.body_sec {
    overflow: hidden;
    position: sticky;
    background-image:url(./Kepek/fo_kep.jpg);
    height: 850px;
    background-position-x: center;
  	background-position-y: center;
 	background-repeat: no-repeat;
	text-align: center;
	display: block;
    width: 100%;
    
}


h1{
	font-size:70px;
	margin-top:0px;
	text-align: center;
    color: #fff;
    z-index: 1;
	
}
h2{
	font-size:50px;
    color: #fff;
    z-index: 1;
}
.Bemutatkozas{
   
    position: sticky;
    width: 100%;
    height: auto;
    max-width: 1000px;
    color: black;
    margin: auto;
    padding: 10px;
    height:500px;

    
}
.Bemutatkozo_kep{
    
}
 .Bem_kep{
    position: sticky;
    max-width: 335px;
    float: left;
    width: 50%;
    
   
} 
.Bem_szoveg{ 
    position:sticky;
    background-color: rgba(218, 212, 212, 0.603);
    width: 50%;
    float: right;
    height:100%;
    
    
    
    
    
} 
p{
    margin: 10px;
    text-align: left;
    white-space: normal;
    width: "100vw";
   
}